.product-categories {
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  flex-wrap: wrap;
  justify-content: space-between;
  select {
    cursor: default;
    padding: 10px;
    background-color: var(--primary-background-color);
    border: 1px solid --border-color;
    border-radius: 8px;
    font-size: 14px;
    width: calc(33% - 7px);
    min-width: 100px;
  }
}

@media (max-width: 600px) {
  .product-categories {
    padding: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .product-categories {
    select {
      width: 47%;
    }
    select:last-child {
      width: 100%;
    }
  }
}
