.product-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 1050px) {
  .product-cards {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .product-cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
