.card {
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--primary-background-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  .change-product {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    a,
    p {
      transition: 200ms;
      font-size: 20px;
      cursor: pointer;
      background-color: var(--red-color);
      border-radius: 3px;
      border-bottom: 2px solid rgb(130, 0, 0);
      color: aliceblue;
      height: 30px;
      width: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        translate: 0 -2px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.203);
      }
    }
    a {
      border-bottom: 2px solid rgb(0, 78, 0);
      background-color: green;
    }
  }
  &__img {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--primary-background-color);
    height: 300px;
    padding: 5%;
    img {
      height: 100%;
      width: 100%;
      transition: 500ms;
      object-fit: contain;
      scale: 1.05;
      &:hover {
        scale: 1;
      }
    }
    i {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px;
      font-size: 20px;
      color: #ffcf55;
      border: 1px solid;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.286);
    }
  }
  &__def {
    padding: 7%;
    margin-top: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    & > div:last-child {
      margin-top: auto;
    }
    p {
      font-size: 12px;
      color: rgb(130, 130, 130);
      margin: 5px 0;
      font-weight: 300;
    }
    &__title {
      margin: 10px 0;
    }
    &__title:hover {
      color: var(--red-color);
    }
    &__rating {
      display: flex;
      align-items: center;
      gap: 3px;
    }
    &__sale {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__sale > i {
      font-size: 29px;
      color: var(--red-color);
      border-radius: 10px;
    }
  }

  .img-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-background-color);
    display: none;
    justify-content: center;
    z-index: 1;
    align-items: center;
    .circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border-top: 5px dotted var(--red-color);
      border-bottom: 5px dotted var(--red-color);
      animation: circle 2s;
      animation-iteration-count: infinite;
    }
  }
  &__img.active .img-loading {
    display: flex;
  }
}
