.dash-filter {
  //   background-color: white;
  color: var(--font-color);
  width: 30%;

  &__title {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: var(--red-color);
    color: white;
    border-radius: 5px;
    border-bottom: 2px solid rgb(150, 0, 0);
    transition: 300ms;
    &:hover {
      translate: 0 -3px;
      box-shadow: 0 5px 3px rgba(0, 0, 0, 0.203);
    }
    span {
      font-size: 30px;
      line-height: 20px;
    }
  }
  .filter-line {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgba(184, 184, 184, 0.2);
    border-radius: 5px;
    align-items: center;
    margin: 1px;
    span {
      display: flex;
      gap: 5px;
    }
    a {
      transition: 200ms;
      background-color: var(--red-color);
      border-radius: 3px;
      border-bottom: 2px solid rgb(130, 0, 0);
      color: aliceblue;
      width: 25px;
      height: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // padding: 10px;
      // display: inline-block;
      &:hover {
        translate: 0 -2px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.203);
      }
      &:last-child {
        border-bottom: 2px solid rgb(0, 78, 0);
        background-color: green;
      }
    }
  }
}
