* {
  color: inherit;
  font-family: "Lexend";
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-color: #1f2533;
  --red-color: rgba(193, 31, 31, 0.895);
  --body-background-color: #f6f7f6;
  --grey-font-color: #70737c;
  --grey-font-color-hover: #000000;
  --primary-background-color: #ffffff;
  --border-color: #efefef;
  --showcase-background: #eaf1eb;
  --selection-background: rgba(193, 31, 31, 0.6);
}

:root.dark {
  --primary-font-color: #eeeeee;
  --body-background-color: #373737;
  --grey-font-color: #c8bcbc;
  --grey-font-color-hover: #ffffff;
  --primary-background-color: #000000;
  --border-color: #484848;
  --showcase-background: #181818;
}

.App {
  min-height: calc(100vh - 80px);
  display: flex;

  flex-direction: column;
  &__pages {
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
  }
}
body {
  background: var(--body-background-color);
  padding: 80px 0 0;
  color: var(--primary-font-color);
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--body-background-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 100;
  .circle {
    position: fixed;
    // width: 100px;
    // height: 100px;
    padding: 100px;
    border-radius: 50%;
    border-top: 5px dotted var(--red-color);
    border-left: 5px dotted var(--red-color);
    animation: circle 2s;
    animation-iteration-count: infinite;
  }
  img {
    width: 150px;
    filter: drop-shadow(3px 3px 1px rgb(166, 41, 41));
  }
  &.active {
    display: flex;
  }
}

@keyframes circle {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
::selection {
  background: var(--selection-background);
  color: white;
}
